# Entornos virtuais
.venv/
venv/
ENV/
env/

# Variables de entorno
.env
.sql_init

# Configuración de IDEs
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de log
*.log

# Archivos temporales
*.swp
*.swo
*.DS_Store

# Ficheiros temporales de PyInstaller
build/
*.spec

# Outros arquivos de sistema
Thumbs.db
